.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 35%;
}

/* Button */

.button {
    color: #a862d3;
    border: 1px solid;
    line-height: 1;
    margin: 0.5rem;
    position: relative;
    bottom: 20px;
    padding: 1em 2em;
    background: none;
    transition: 0.4s;
}

.button:hover, .button:focus {
    border-color: #994d7d;
    color: white;
    box-shadow: inset 0 0 0 30px #994d7d;
}

